<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Gastos fijos mensuales</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="form_gastos">
    <div class="modal-body">
        <div class="mb-3">
            <label for="sueldo" class="form-label">Sueldo anual</label>
            <input type="number" class="form-control" id="sueldo" name="sueldo" required>
        </div>
        <p class="border-bottom">Comunicaciones</p>
        <div class="mb-3">
            <label for="cel" class="form-label">Celular</label>
            <input type="number" class="form-control" id="cel" name="cel" value="">
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">Teléfono/Internet</label>
            <input type="number" class="form-control" id="tel" name="tel" value="" >
        </div>
        <p class="border-bottom">Local</p>
        <div class="mb-3">
            <label for="renta" class="form-label">Renta</label>
            <input type="number" class="form-control" id="renta" name="renta" value="" >
        </div>
        <div class="mb-3">
            <label for="agua" class="form-label">Mantenimiento (agua)</label>
            <input type="number" class="form-control" id="agua" name="agua" value="" >
        </div>
        <div class="mb-3">
            <label for="gas" class="form-label">Gas</label>
            <input type="number" class="form-control" id="gas" name="gas" value="" >
        </div>
        <div class="mb-3">
            <label for="luz" class="form-label">Luz</label>
            <input type="number" class="form-control" id="luz" name="luz" value="" >
        </div>
        <p class="border-bottom">Insumos</p>
        <div class="mb-3">
            <label for="super" class="form-label">Super</label>
            <input type="number" class="form-control" id="super" name="super" value="">
        </div>
        <p class="border-bottom">Deudas</p>
        <div class="mb-3">
            <label for="tv" class="form-label">Tv</label>
            <input type="number" class="form-control" id="tv" name="tv" value="" >
        </div>
        <p class="border-bottom">Equipo</p>
        <div class="mb-3">
            <label for="equipo" class="form-label">Equipo</label>
            <input type="number" class="form-control" id="equipo" name="equipo" value="" >
        </div>
        <p class="border-bottom">Transporte</p>
        <div class="mb-3">
            <label for="gasolina" class="form-label">Gasolina</label>
            <input type="number" class="form-control" id="gasolina" name="gasolina" value="" >
        </div>
        <p class="border-bottom">Seguros</p>
        <div class="mb-3">
            <label for="carro" class="form-label">Carro</label>
            <input type="number" class="form-control" id="carro" name="carro" value="" >
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
    </div>
</form>
