<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
    <title>Cotización</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="js/jsgantt_v12/jsgantt.css" />
</head>
<body>

    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col">
                <form method="POST" action="/">
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="nombre_cliente" class="form-label">Nombre cliente</label>
                    <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="nombre_empresa" class="form-label">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="tel" class="form-label">Tel&eacute;fono</label>
                    <input type="number" class="form-control" id="tel" name="tel">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="direcccion" class="form-label">Direcci&oacute;n</label>
                    <input type="text" class="form-control" id="direcccion" name="direcccion">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="nombre_proyecto" class="form-label">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombre_proyecto" name="nombre_proyecto">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="problema" class="form-label">Plantear problema/necesidad</label>
                    <textarea  class="form-control" id="problema" rows="3" name="problema"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="objetivo_gral" class="form-label">Objetivo general del proyecto</label>
                    <textarea  class="form-control" id="objetivo_gral"  name="objetivo_gral"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="alcance_proyecto" class="form-label">Alcance del proyecto</label>
                    <textarea  class="form-control" id="alcance_proyecto" rows="3" name="alcance_proyecto"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="factibilidad" class="form-label">Factibilidad (infraestructura del cliente)</label>
                    <textarea  class="form-control" id="factibilidad" rows="3" name="factibilidad"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="presupuesto_cliente" class="form-label">Presupuesto cliente (opcional)</label>
                    <input type="number" class="form-control" id="presupuesto_cliente" name="presupuesto_cliente">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="horas_trabajo_semanales" class="form-label">Horas de trabajo semanales</label>
                    <input type="number" class="form-control" id="horas_trabajo_semanales" name="horas_trabajo_semanales">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="tiempo_entrega" class="form-label">Tiempo de entrega al cliente semanas</label>
                    <input type="number" class="form-control" id="tiempo_entrega" name="tiempo_entrega">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="costo_hora" class="form-label">Costo por hora</label>
                    <input type="number" class="form-control" id="costo_hora" name="costo_hora">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="costo_con_impuestos" class="form-label">Costo con impuestos</label>
                    <input type="number" class="form-control" id="costo_con_impuestos" name="costo_con_impuestos">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="costo_venta" class="form-label">Costo de venta</label>
                    <input type="number" class="form-control" id="costo_venta" name="costo_venta">
                  </div>
                  <div class="row">
                    <div class="col-8">
                      <!-- Input-->  
                       <div class="mb-3">
                         <label for="subcontrataciones" class="form-label">Subcontrataciones (nombre)</label>
                         <input type="text" class="form-control" id="subcontrataciones" name="subcontrataciones">
                       </div>
                    </div>
                    <div class="col-4">
                      <!-- Input-->  
                      <div class="mb-3">
                        <label for="costo_subcontratacion" class="form-label">Costo de Subcontratacion</label>
                        <input type="number" class="form-control" id="costo_subcontratacion" name="costo_subcontratacion">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-success" id="agregar_subcontrataciones"><i class="fa fa-plus"></i></button>

                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="acuerdos" class="form-label">Acuerdos con cliente</label>
                    <input  class="form-control" id="acuerdos" name="acuerdos">
                  </div>
                  <button class="btn btn-success" id="agregar_acuerdo"><i class="fa fa-plus"></i></button>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="gantt" class="form-label">Fases del proyecto GANTT</label>
                    <table class="table table-striped" id="table_actividades">
                        <thead>
                            <tr>
                                <th scope="col">Actividad</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Final</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="actividad">
                                </td>
                                <td>
                                    <input type="date" name="fecha_inicio_actividad">
                                </td>
                                <td>
                                    <input type="date" name="fecha_termina_actividad">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <button class="btn btn-success" id="agregar_actividad"><i class="fa fa-plus"></i></button>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="observaciones_gantt" class="form-label">Observaciones del cliente sobre GANTT</label>
                    <textarea  class="form-control" id="observaciones_gantt" rows="3" name="observaciones_gantt"></textarea>
                  </div>
                   <!-- Input-->  
                   <div class="mb-3">
                    <label for="responsabilidades" class="form-label">Responsabilidades</label>
                    <input  class="form-control" id="responsabilidades" name="responsabilidades">
                  </div>
                  <button class="btn btn-success" id="agregar_responsabilidad"><i class="fa fa-plus"></i></button>
                  <div class="row mt-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h4>Tablas con lo siguiente</h4>
                <ol>
                    <li>Gantt</li>
                    <li>PERT</li>
                    <li>Conto por fase</li>
                    <li>Costos subcontrataciones</li>
                    <li>Costo final</li>
                    <li>Check list de entregables</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Entrada 2 sería en caso de tener modificaciones manuales, poder subir nuevamente el archivo
para que el sistema tenga de salida 3 cotizaciones diferentes.</h4>
                <ol>
                    <li>Estimación</li>
                    <li>Precio de venta</li>
                    <li>Precios impuestos</li>
                    <li>Costo por hora</li>
                    <li>Acuerdos con el cliente</li>
                    <li>Contrato o cenvenio</li>
                    <li>Lineamiento de pago y entrega del proyecto</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5">
      <div class="col">
        <div id="myDiagramDiv" style="height: 400px;"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="js/jsgantt_v12/jsgantt.js"></script>
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="js/script.js"></script>
    <script>
    // window.addEventListener('DOMContentLoaded', pert);
    </script>
</body>
</html>

