<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Agregar responsabilidad</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form id="form_responsabilidades">
    <div class="modal-body">
      <input type="hidden" name="id_cotizado" value="<%=id_cotizado%>" id="input_id_cotizado">
        <div class="row">
            <div class="col-8">
              <!-- Input-->  
               <div class="mb-3">
                <label for="responsabilidades" class="form-label">Responsabilidades</label>
                <input  class="form-control" id="responsabilidades" name="responsabilidades" required>
               </div>
            </div>
            <div class="col-4">
              <!-- Input-->  
              <div class="mb-3">
                <label for="responsabilidad_tipo" class="form-label">Responsable</label>
                <select name="responsabilidad_tipo" id="responsabilidad_tipo" class="form-select">
                  <option value="cliente">Cliente</option>
                  <option value="desarrollador">Desarrollador</option>
                </select>
              </div>
            </div>
          </div>
          <button class="btn btn-success" id="agregar_responsabilidad"><i class="fa fa-plus"></i></button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
    </div>
</form>