<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col">
                <form>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre cliente</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tel&eacute;fono</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Direcci&oacute;n</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Plantear problema/necesidad</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Objetivo general del proyecto</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Objetivos espec&iacute;ficos</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Alcence del proyecto</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Factibilidad (infraestructura del cliente)</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Factibilidad, encuesta personal de reflexión ¿nivel de complejidad? ¿necesitas recursos?
¿subcontrataciones?, etc.</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Presupuesto cliente (opcional)</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Horas de trabajo semanales</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tiempo de entrega al cliente</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Costo por hora</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Costo con impuestos</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Costo de venta</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Subcontrataciones (nombre)</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Subcontrataciones (costo por proyecto)</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Acuerdos entre cliente y tu</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Fases del proyecto GANTT</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Observaciones del cliente sobre GANTT</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tabla de sub-secuencias de GANTT</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                 <!-- Input-->  
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tabla de responsabilidades cliente/desarrollador</label>
                    <textarea  class="form-control" id="exampleInputEmail1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h4>Tablas con lo siguiente</h4>
                <ol>
                    <li>Gantt</li>
                    <li>PERT</li>
                    <li>Conto por fase</li>
                    <li>Costos subcontrataciones</li>
                    <li>Costo final</li>
                    <li>Check list de entregables</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Entrada 2 sería en caso de tener modificaciones manuales, poder subir nuevamente el archivo
para que el sistema tenga de salida 3 cotizaciones diferentes.</h4>
                <ol>
                    <li>Estimación</li>
                    <li>Precio de venta</li>
                    <li>Precios impuestos</li>
                    <li>Costo por hora</li>
                    <li>Acuerdos con el cliente</li>
                    <li>Contrato o cenvenio</li>
                    <li>Lineamiento de pago y entrega del proyecto</li>
                </ol>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
